---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <span style="font-size: 20px;color: #155799;">/ {{ site.course_semester }} </span></h1>

    {% include announcements.html %}
    <br />

    <h2>Course Description</h2>
    <p>{{ site.course_description }}</p>
    
    {{ content }}

    <div class="course-links">
    <h2>Course Links</h2>
    <ul>
        <li><a href="https://t.me/DSA_Spring2026">Telegram Channel</a></li>
        <li><a href="https://quera.org/course/add_to_course/course/26937/">Quera Course Page</a></li>
    </ul>
</div>

    {% if site.data.previous_offering and site.data.previous_offering.offerings and site.data.previous_offering.offerings.size > 0 %}
    <h2>Previous Offerings</h2>
    <ul class="previous-offerings">
    {% for offer in site.data.previous_offering.offerings %}
    <li><a href="{{ offer.url }}">{{offer.title}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    <br>

    <!-- ساختار هرمی -->
    <div class="staff-grid">

        <!-- استاد -->
        <h2 class="role-title">Instructor</h2>
        <div class="staff-row single">
            {% for ins in site.data.people.instructors %}
            <div class="person">
                <img src="{{ins.profile_pic | prepend: site.baseurl }}" class="image--cover">
                {% if ins.webpage %}
                <p><a href="{{ ins.webpage }}">{{ins.name}}</a></p>
                {% else %}
                <p>{{ins.name}}</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <!-- Head TA -->
        <h2 class="role-title">Head Teaching Assistants</h2>
        <div class="staff-row double">
            {% for head in site.data.people.head_teaching_assistants %}
            <div class="person">
                <img src="{{head.profile_pic | prepend: site.baseurl }}" class="image--cover">
                {% if head.webpage %}
                <p><a href="{{ head.webpage }}">{{head.name}}</a></p>
                {% else %}
                <p>{{head.name}}</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <!-- TAها -->
        <h2 class="role-title">Teaching Assistants</h2>

        <!-- ردیف اول: ۴ نفر -->
        <div class="staff-row four">
        {% for ta in site.data.people.teaching_assistants limit:4 %}
        <div class="person">
        <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
        {% if ta.webpage %}
        <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
        {% else %}
        <p>{{ta.name}}</p>
        {% endif %}
    </div>
    {% endfor %}
</div>

        <!-- ردیف دوم: بقیه (۵ نفر) -->
        <div class="staff-row five">
        {% for ta in site.data.people.teaching_assistants offset:4 %}
        <div class="person">
            <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
            {% if ta.webpage %}
            <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
            {% else %}
            <p>{{ta.name}}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
